
<script>
$(document).ready(function(){
  $('#status').change(function(){  	//To display different tenders based on the status instead of using ajax .. Better way :)
   
	  var clas = $(this).val();
	  if(clas=='All'){
	    $('tr').show(); //Show all tr blocks

          }
	  else{

	    $('tr.' + clas).show();
	    $('tr[class!=' + clas + ']').hide();
	    $('tr.table_header').show(); //not to hide the table header
    }
  });
});
    
</script>


<h1 id="header" style="color: #4682B4">Listing Tenders!</h1>
<div class="row">
	<div class="span6 offset3" id="we">

		
		
		Filter by status &nbsp;

		<%= form_tag tenders_path, :remote => true, :method=>'post' do %>
			<%= select_tag("status", options_for_select([['All','All'],['Initiated','Initiated'],['Open', 'Opem'],
				['Closed', 'Closed'],['Won','Won'],['Lost','Lost']])) %>				
		

		 <% end %>
		
		
		 
		<div id="flash"> </div>


	</div>

</div>


<table border="1" id="tender_table" >
  <tr class="table_header">
    <th>Title</th>
    <th>Buyer Name</th>
    <th>Remaining dates</th>
    <th>Status</th>
    <th>Bid amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @tenders.each do |tender| %>
<% day_diff= tender.closing_date.to_date-tender.opening_date.to_date %>
<tr class=<%= tender.status %>> 
<td><%= tender.title %></td>
    <td><%= tender.buyer_name %></td>
    <td >

	    <%  if tender.closing_date.to_date < Date.today %>
		    <FONT COLOR="red"><%= (Date.today-tender.closing_date).to_i %> passed</td>

	    <% else if day_diff > 10%>
		    <FONT COLOR="green"><%= distance_of_time_in_words(tender.opening_date,tender.closing_date) %></td>	    			
				    
	    <% end %>
	    <% end %>

	    <% if day_diff <= 10 and day_diff>=0 %>
			    <FONT COLOR="red"><%=distance_of_time_in_words(tender.opening_date,tender.closing_date)+' ' %>left</td>

	    <% end %>





    <td><%= tender.status %></td>
    <td><%= tender.bid_amount %></td>
   

    <%#  tender.description %>

    <td><%= link_to 'Show', tender %></td>
    <td><%= link_to 'Edit', edit_tender_path(tender) %></td>
    <td><%= link_to 'Destroy', tender, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tender', new_tender_path %>

